@model FoodshareMVC.Application.ViewModels.User.UserVm

@{
    ViewData["Title"] = "Index";
}

<h1>@Html.DisplayFor(model => model.FullName)</h1>
<div class="StarAverage">
    @if (Model.StarAverage > 0)
    {
        <span class="text-warning">
            @for (int i = 0; i < Math.Round(Model.StarAverage); i++)
            {
                <i class="fas fa-star"></i>
            }
            @for (int i = 0; i < 5 - Math.Round(Model.StarAverage); i++)
            {
                <i class="far fa-star"></i>
            }
        </span>
        <text>(@Html.DisplayFor(modelItem => Model.StarAverage))</text>
    }
</div>

<h4>@Html.DisplayFor(model => model.City)</h4>
<form asp-action="AddReview" asp-controller="User" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="@Model.NewReview.ReviewedUserId" name="reviewedUserId" value="@Model.Id" />
        <input type="text" asp-for="NewReview.ReviewDescription" name="reviewDescription" class="form-control" placeholder="Write review..." />
    </div>
    <div class="form-group">
        <span class="text-warning">
            <i class="ratingStar far fa-star" data-value="1"></i>
            <i class="ratingStar far fa-star" data-value="2"></i>
            <i class="ratingStar far fa-star" data-value="3"></i>
            <i class="ratingStar far fa-star" data-value="4"></i>
            <i class="ratingStar far fa-star" data-value="5"></i>
        </span>    
        <input type="hidden" name="AmountOfStars" id="starsValue" />
        <span asp-validation-for="NewReview.AmountOfStars" class="text-danger"></span>
    </div>
    <input type="hidden" name="reviewerId" value="1" />    
    <button type="submit" class="search-button">Add review</button>
</form>

<h6>
    Reviews
</h6>
<div class="reviews">
    @foreach (var review in Model.Rewievs)
    {
        <p>@Html.DisplayFor(model => review.CreateDateTime)</p>
        <p>@Html.DisplayFor(model => review.Creator)</p>
        var defaultStars = 5 - review.AmountOfStars;

        <span class="text-warning">
            @for (int i = 0; i < review.AmountOfStars; i++)
            {
                <i class="fas fa-star"></i>
            }
            @for (int i = 0; i < defaultStars; i++)
            {
                <i class="far fa-star"></i>
            }
        </span>
        <p>@Html.DisplayFor(model => review.ReviewDescription)</p>
    }
</div>
<h6>
    Posts
</h6>
<div class="posts">
    @foreach (var post in Model.UserPosts)
    {
        <p>@Html.DisplayFor(model => post.CreateDateTime)</p>
        <p>@Html.DisplayFor(model => post.Creator)</p>
        <p>@Html.DisplayFor(model => post.Text)</p>
    }
</div>

<script>
    var starClicked = false;

    function updateStars(starCount) {
        $(".ratingStar").removeClass("fas").addClass("far");
        $(".ratingStar").slice(0, starCount).removeClass("far").addClass("fas");
    }

    $(".ratingStar").hover(
        function () {
            if (!starClicked) {
                var index = $(this).index() + 1;
                updateStars(index);
            }
        },
        function () {
            if (!starClicked) {
                updateStars(0);
            }
        }
    );

    $(".ratingStar").click(
        function () {
            var starValue = $(this).attr("data-value");

            $("#starsValue").val(starValue);

            var index = $(this).index() + 1;
            updateStars(index);

            starClicked = true;
            $(".ratingStar").off("mouseenter mouseleave");
        }
    );
</script>
