@model FoodshareMVC.Application.ViewModels.User.UserWithPostsVm

@{
    ViewData["Title"] = "Index";
}
<h3>
    <dt class="col-sm-2">
        @Html.DisplayFor(model => model.User.FullName)
    </dt>
</h3>
<h5>
    <dt class="col-sm-2">
        @Html.DisplayFor(model => model.User.City)
    </dt>
</h5>

<table class="table">
    <tbody>
        @foreach (var item in Model.UserPosts)
        {
            <tr>
                <td>
                    <p>
                        @Html.DisplayFor(modelItem => item.CreateDateTime)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.Creator)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.Text)
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>
