@model FoodshareMVC.Application.ViewModels.User.UserWithPostsAndReviewsVm

@{
    ViewData["Title"] = "Index";
}
<h3>
    <dt class="col-sm-2">
        @Html.DisplayFor(model => model.User.FullName)
    </dt>
</h3>
<h5>
    <dt class="col-sm-2">
        @Html.DisplayFor(model => model.User.City)
    </dt>
</h5>

<p>
    <div class="">
        <h6>
            </br>
            </br>
            Reviews
        </h6>
       
        <form asp-action="AddReview" asp-controller="User" method="post">
            <div class="form-group">
                <input type="hidden" asp-for="@Model.NewReview.ReviewedUserId" name="reviewedUserId" value="@Model.User.Id" />
                <input type="text" asp-for="NewReview.ReviewDescription" name="reviewDescription" class="form-control" placeholder="Write review..." />
            </div>
            <div class="form-group">
                <label asp-for="NewReview.AmountOfStars" class="control-label">Amount of Stars</label>
                <select asp-for="NewReview.AmountOfStars" name="amountOfStars" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <input type="hidden" name="reviewerId" value="1" />
            <button type="submit" class="search-button">Add review</button>
        </form>
    </div>
    @foreach (var item in Model.Rewievs)
    {
    <p>
            @Html.DisplayFor(modelItem => item.Creator)
    </p>
    <p>
            @Html.DisplayFor(modelItem => item.AmountOfStars)
    </p>
    <p>
            @Html.DisplayFor(modelItem => item.ReviewDescription)
    </p>
    }
</p>
<h4>
    </br>
    </br>
    Posts
</h4>
<table class="table">
    <tbody>
        @foreach (var item in Model.UserPosts)
        {
            <tr>
                <td>
                    <p>
                        @Html.DisplayFor(modelItem => item.CreateDateTime)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.Creator)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.Text)
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>
