@model FoodshareMVC.Application.ViewModels.Post.ListPostForListVm

@{
    ViewData["Title"] = "Index";
}

<style>
    .post-container {
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .post-details {
        font-size: 16px;
        margin-bottom: 10px;
        text-decoration: none;
        color: black;
        font-weight: normal;
        transition: font-weight 0.2s;
    }

        .post-details a:hover {
            font-weight: bold;
        }

    .post-date {
        font-size: 14px;
        color: #888;
    }

    .post-text {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .comment-container {
        background-color: #f0f0f0;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .comment-user {
        font-size: 12px;
        font-weight: bold;
    }

    .comment-text {
        margin-top: 5px;
    }

    .filter-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .filter {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        margin-bottom: 10px;
        max-width: 200px;
    }

    .search-bar {
        flex: 1;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .search-button {
        padding: 8px 12px;
        border: none;
        background-color: #4CAF50;
        color: white;
        border-radius: 0 5px 5px 0;
        font-size: 14px;
        cursor: pointer;
    }
</style>

<h1>FoodShare</h1>
<p>
    <a asp-action="AddPost">Create New</a>
</p>

@*filters*@
<form asp-action="Index" asp-controller="Post" method="post">

    <div class="filter-container">
        User:
        <div class="search-bar">
            <input type="text" asp-for="Filter.SearchCreator" name="searchCreator" class="search-input" id="searchCreator" placeholder="Search an user..." />
        </div>
        City:
        <div class="search-bar">
            <input type="text" asp-for="Filter.City" name="city" class="city-input" id="city" placeholder="Enter a city..." />
        </div>
        Pickup method:
        <div class="search-bar">
            <select asp-for="Filter.PickupMethod" name="pickupMethod" class="pickupMethod-input" id="pickupMethod" placeholder="Enter a pickup method...">
                <option value="" disabled selected>Enter a pickup method...</option>
                <option value="SelfPickUp">Self-Pickup</option>
                <option value="Delivery">Delivery</option>
            </select>
        </div>
        <button type="submit" class="search-button">Search</button>
    </div>
    <div class="row">
        <div class="filters">

            @if (!string.IsNullOrEmpty(Model.Filter.City))
            {
                <div class="filter">@Model.Filter.City <a href="@Url.Action("RemoveFilter", new { filterType = "city", pageSize = 10, pageNo = 1, searchCreator = Model.Filter.SearchCreator, city = Model.Filter.City, pickupMethod = Model.Filter.PickupMethod })">x</a></div>
            }
            @if (!string.IsNullOrEmpty(Model.Filter.PickupMethod))
            {
                <div class="filter">@Model.Filter.PickupMethod <a href="@Url.Action("RemoveFilter", new { filterType = "pickupMethod", pageSize = 10, pageNo = 1, searchCreator = Model.Filter.SearchCreator, city = Model.Filter.City, pickupMethod = Model.Filter.PickupMethod })">x</a></div>
            }
            @if (!string.IsNullOrEmpty(Model.Filter.SearchCreator))
            {
                <div class="filter">@Model.Filter.SearchCreator <a href="@Url.Action("RemoveFilter", new { filterType = "searchCreator", pageSize = 10, pageNo = 1, searchCreator = Model.Filter.SearchCreator, city = Model.Filter.City, pickupMethod = Model.Filter.PickupMethod })">x</a></div>
            }


        </div>
    </div>

    @*posts*@
    <div class="row">
        @foreach (var post in Model.Posts)
        {
            <div class="post-container">
                @if(Model.CurrentUserId == post.CreatorId)
                {
                    <div asp-authorize="PostOwnerAuthorize">
                        @Html.ActionLink("Edit", "EditPost", new { id = post.Id })
                        <br />
                        @Html.ActionLink("Delete", "Delete", new { id = post.Id })
                    </div>
                }
                <div class="post-date">
                    @Html.DisplayFor(modelItem => post.CreateDateTime)
                </div>
                <div class="post-details">
                    <a href="@Url.Action("Index", "User", new { Id = post.CreatorId })">@Html.DisplayFor(modelItem => post.Creator)</a>
                </div>
                <div class="post-text">
                    @Html.DisplayFor(modelItem => post.Text)
                </div>
                <div class="image">
                    @if (post.Image != null)
                    {
                        <img class="some-image" src="@post.Image" alt="Card image cap">
                    }
                </div>
                <div class="post-date">
                    @Html.DisplayFor(modelItem => post.PossibilityPickUpMethod)
                    @if (post.PossibilityPickUpMethod == "SelfPickUp" || post.PossibilityPickUpMethod == "SelfPickUpAndDelivery")
                    {
                        <text>: @Html.DisplayFor(modelItem => post.PickUpAddress)</text>
                    }

                </div>
                <div class="">
                    <a asp-action="AddBooking" asp-controller="Post" asp-route-postId="@post.Id">Book it!</a>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="10" />
    </div>
</form>

@section Scripts
    {
    <script>
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }

    </script>
}

